/*页头*/

body, html {
    height: auto;
    /*background-image: url("assets/image/EmoryPoint.jpg");*/
    /*background-size: cover;*/
}



.head{
    position: absolute;
    top:0px;
    height: 80px;
    width: auto;
    z-index: 1;
}

.logo img{
    float: left;
    margin-top: 10px;
    width: 75px;
    height: 75px;
}

.logotext{
    position: absolute;
    margin-left: 85px;
    margin-top: 10px;
}
.logotext h2{
    text-align: left;
    font-size: 40px;
    letter-spacing: 1px;
    color: rgb(232, 232, 232);
    font-family: Chalkduster, fantasy;
}

.headInfo_login {
    position: absolute;
    float: right;
    top: 10px;
    right: -1350px;
    font-family: fantasy;
    font-weight: 600;
    font-size: large;
    color: rgb(232, 232, 232);   
}

.txt: hover {
    text-decoration: underline;
}

.mainpage{
    width: 1260px;
    height: 600px;
    position: relative;
    top:55px;
    left:130px;
}
.row{
    position: absolute;
    top:250px;
    right:300px;
}

.text-center{
    font-size: x-large;
    color: saddlebrown;
}

.footer{
    position: absolute;
    bottom: 15px;
    right: 15px;
    font-family: fantasy;
    font-weight: 600;
    font-size: large;
    color:rgb(232, 232, 232);
}

.text{
    /*background-color: red;*/
    width: 600px;
    height: 100px;
}
.text h1{
    font-family: ;
}

.mainpage img{
    width: 100%;
    height: 100%;
    background-blend-mode: screen;
}


/* 中间*/
.content{
    position: absolute;
    top:80px;
    height: 670px;
    width: 1260px;
}

