/*页头*/

body, html {
    height: 100%;
    background-image: url("assets/image/EmoryPoint.jpg");
}

.head{
    height: 80px;
    width: auto;
    /*background-color: red;*/
}

.logo img{
    float: left;
    margin-top: 15px;
    width: 75px;
    height: 75px;
}

.logotext{
    position: absolute;
    margin-left: 85px;
    margin-top: 0px;
}
.logotext h2{
    text-align: left;
    font-size: 50px;
    letter-spacing: 1px;
    color: rgb(101, 50, 33);
    /* #2b3d53 */
    font-family: Chalkduster, fantasy;
    /* "Palatino Linotype", "Book Antiqua", Palatino, serif*/
}

.headInfo_login{
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    font-family: fantasy;
    font-weight: 600;
    font-size: x-large;
    color:#2b542c;
}

.txt:hover {
    text-decoration: underline;
}


.mainpage{
    /*background-color: whitesmoke;*/
    width: 1260px;
    height: 600px;
    position: absolute;
    top:115px;
    left:130px;
}
.text{
    /*background-color: red;*/
    width: 600px;
    height: 100px;
}
.text h1{
    font-family: "Adobe Song Std";
}

.mainpage img{
    width: 100%;
    height: 100%;
}








/* 中间*/
.content{
    height: 756px;
    width: 1060px;
}

/*页尾*/
.footer{
    background-color: #102D4D;
    color: #eaeaea;

}